.header-container {
    height: 104px;
    width: 100%;
    background-color: #181A21;
    
  }
  
  .header {
    min-width: 950px;
    width: 950px;
    max-width: 950px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    height: 100%;
  }
  .header a:hover {
    color: #67c1f5;
  }
  
  .left-header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 500px;
    justify-content: space-between;
  }
  .left-header a {
    text-decoration: none;
    color: #959EAB;
    font-size: 12px;
    margin-right: 7px;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  
  .right-header {
    width: 250px;
    margin-top: 7px;
  }
  .right-header button {
    padding-left: 30px;
   
    border: none;
    background: none;
    height: 25px;
    width: 120px;
    font-size: 11px;
    color: #e5e4dc;
    background-repeat: no-repeat;
    background-position: 10px 5px;
    background-image: url( 'https://community.cloudflare.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1' );
    background-color: #5c7e10;
  }
  .right-header a {
    text-decoration: none;
    color: #959EAB;
    font-size: 11px;
    padding: 0px 4px;
    font-weight: lighter;
    
  }